<ion-content [fullscreen]="true">
	<div class="ion-padding">
		<app-back-navigation-header></app-back-navigation-header>
	</div>
	<div class="ion-text-center white-color">
		<ion-label>Address List</ion-label>
	</div>
	<ion-card *ngFor="let address of addressList" class="ion-margin each-card">
		<ion-row class="ion-justify-content-between">
			<ion-col size="6" class="p-10">
				<ion-card-subtitle class="p-l-5 font-size-16">{{address.type | titlecase}}</ion-card-subtitle>
			</ion-col>
			<ion-col size="6" class="ion-text-end">

				<ion-button shape="round" size="small" fill="clear" class="p-0 m-0" (click)="openAddressOptions()">
					<ion-icon name="ellipsis-vertical" slot="icon-only" class="font-size-18 grey-color"></ion-icon>
					<!-- <ion-icon slot="icon-only" name="trash" class="font-size-18 grey-color"></ion-icon> -->
				</ion-button>
			</ion-col>
		</ion-row>
		<ion-card-content class="p-t-0">
			Street: {{address.street}}, Landmark: {{address.landmark}} , City: {{address.city | titlecase}}, State:
			{{address.state | titlecase}}, Pincode: {{address.pincode}}, Country: {{address.country | titlecase}}
		</ion-card-content>
		<!-- <ion-card-footer>
			<ion-grid >
				<ion-row class="ion-justify-content-between">
					<ion-col size="6">
						<ion-button shape="round" fill="outline">
							<ion-icon slot="start" name="pencil"></ion-icon>
							Edit
						</ion-button>
					</ion-col>
					<ion-col size="6">
						<ion-button shape="round" fill="outline">
							<ion-icon slot="start" name="trash"></ion-icon>
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>

		</ion-card-footer> -->
	</ion-card>
</ion-content>