<ion-content [fullscreen]="true">
	<div class="ion-padding">
		<app-back-navigation-header></app-back-navigation-header>
	</div>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="navigateToAddAddress()">
		<ion-fab-button size="small">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>

	<div class="ion-text-center white-color ">
		<ion-label>Address List</ion-label>
	</div>

	<div *ngIf="addressList.length <= 0" class="ion-text-center error">
		<ion-label>No Address Found</ion-label>
	</div>
	<ng-container  *ngIf="addressList.length > 0">
	<ion-card *ngFor="let address of addressList" class="ion-margin each-card">
		<ion-row class="ion-justify-content-between">
			<ion-col size="6" class="p-10">
				<ion-card-subtitle class="p-l-5 font-size-16">{{address.type | titlecase}}</ion-card-subtitle>
			</ion-col>
			<ion-col size="6" class="ion-text-end">

				<ion-button shape="round" size="small" fill="clear" class="p-0 m-0"
					(click)="openAddressOptions(address)">
					<ion-icon name="ellipsis-vertical" slot="icon-only" class="font-size-18 grey-color"></ion-icon>
					<!-- <ion-icon slot="icon-only" name="trash" class="font-size-18 grey-color"></ion-icon> -->
				</ion-button>
			</ion-col>
		</ion-row>
		<ion-card-content class="p-t-0">
			Street: {{address.street}}, Landmark: {{address.landmark}} , City: {{address.city | titlecase}}, State:
			{{address.state | titlecase}}, Pincode: {{address.pincode}}, Country: {{address.country | titlecase}}
		</ion-card-content>
	</ion-card>
</ng-container>
</ion-content>