ion-content {
  --background: url('../../../../../assets/images/bg.jpeg');
}

ion-icon.header {
  font-size: 30px;
  color: white;
}

ion-card {
  --background: white;
}

ion-select {
  width: 100%;
  justify-content: center;
}
.drop-down{
  height: 65px;
}

.each-card {
  border-bottom-right-radius: 22px;
    border-top-left-radius: 22px;
}

ion-fab-button {
  --background: white;
  --color: black;
}
