<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <app-back-navigation-header></app-back-navigation-header>
  </div>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center white-color">Registration</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="h-px-90">
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="username" type="text" placeholder="Enter email"></ion-input>
            </ion-item>
            <ion-text color="danger" class="f14"
            *ngIf="isValidField(registerForm, 'username')">
            {{ getErrorMessage(registerForm, validationMessages, 'username') }}
          </ion-text>
          </div>


          <div class="ion-text-end">

            <ion-button type="submit" color="light" size="small" fill="outline" shape="round">
              Register
              <ion-icon class="p-l-10" name="arrow-forward-circle"></ion-icon>
            </ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="ion-text-center">
    <a [routerLink]="['/login']" class="white-color font-size-14 font-weight-500 m-0">Already a member ?</a>
  </div>
</ion-content>
