ion-split-pane {
    --side-min-width: 50%;
}

.left-pane {
        background: url('../assets/images/left-pane2.jpeg') !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
}