<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-row class="ion-justify-content-between">
      <ion-col class="ion-text-start">
        <div>
          <ion-icon name="arrow-undo-circle" class="header"></ion-icon>
        </div>
      </ion-col>
      <ion-col class="ion-text-end">
        <div>
          <ion-icon name="home" class="header"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center white-color">Forgot Password</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="ForgetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="h-px-75">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="username" type="text" placeholder="Enter email"></ion-input>
          </ion-item>
        </div>

        <div class="ion-text-end">
          <ion-button type="submit" color="light" size="small" fill="outline" shape="round">
            submit
            <ion-icon class="p-l-10" name="arrow-forward-circle"></ion-icon>
          </ion-button>
        </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- <div class="ion-text-center">
    <p class="white-color font-size-14 font-weight-500 m-0">Already a member ?</p>
  </div> -->
</ion-content>