ion-content {
    --background: url('./../../../assets/images/bg.jpeg');
    // --background: #1149ac;
}

ion-icon.header {
    font-size: 30px;
    color: white;
}

ion-card {
    --background: transparent;
}
