<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <app-back-navigation-header></app-back-navigation-header>
  </div>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center white-color">Reset Password</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="ResetForm" (ngSubmit)="onSubmit()">
          <div class="h-px-90">
            <ion-item>
              <ion-label position="floating">Old Password</ion-label>
              <ion-input formControlName="oldPassword" [type]="typeValue" placeholder="Enter Password"></ion-input>
            </ion-item>
            <ion-text color="danger" class="f14" *ngIf="isValidField(ResetForm, 'oldPassword')">
              {{ getErrorMessage(ResetForm, validationMessages, 'oldPassword') }}
            </ion-text>
          </div>
          <div class="h-px-90">
            <ion-item>
              <ion-label position="floating">New Password</ion-label>
              <ion-input formControlName="newPassword" [type]="typeValue" placeholder="Enter New Password"></ion-input>
            </ion-item>
            <ion-text color="danger" class="f14" *ngIf="isValidField(ResetForm, 'newPassword')">
              {{ getErrorMessage(ResetForm, validationMessages, 'newPassword') }}
            </ion-text>
          </div>
          <div class="h-px-90">
            <ion-item>
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input formControlName="confirmPassword" [type]="typeValue" placeholder="Re-Enter New Password">
              </ion-input>
            </ion-item>
            <ion-text color="danger" class="f14" *ngIf="isValidField(ResetForm, 'confirmPassword')">
              {{ getErrorMessage(ResetForm, validationMessages, 'confirmPassword') }}
            </ion-text>
            <ion-text color="danger" class="f14" *ngIf="!isValidField(ResetForm, 'confirmPassword') && ResetForm?.errors?.notSame">
             Password mismatch
            </ion-text>
          </div>
          <div class="ion-text-center">
            <ion-checkbox [checked]="typeValue === 'text'" (ionChange)="checkboxChange($event)"></ion-checkbox>
            <ion-label class="font-size-16 font-weight-bold white-color p-l-5">Show Password</ion-label>
          </div>
          <div class="ion-text-end">
            <ion-button type="submit" color="light" size="small" fill="outline" shape="round" [disabled]="ResetForm.invalid">
              Reset
              <ion-icon class="p-l-10" name="arrow-forward-circle"></ion-icon>
            </ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
